    @import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Noto+Sans+KR:wght@300&family=Oswald:wght@200&family=STIX+Two+Math&display=swap');
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    body {
        background: rgb(103, 5, 144);
        background: linear-gradient(157deg, rgba(103, 5, 144, 0.9192051820728291) 27%, rgba(252, 70, 159, 0.8547794117647058) 100%);
        ;
    }
    
    #header1 {
        width: 100%;
        height: 86px;
        background: rgb(120, 34, 195);
        background: linear-gradient(103deg, rgba(120, 34, 195, 1) 14%, rgba(195, 34, 137, 0.8883928571428571) 42%, rgba(214, 40, 163, 0.4906337535014006) 74%);
        position: fixed;
        z-index: 10;
        top: 0px;
        left: 0px;
        box-shadow: 0px 2px 15px rgba(3, 3, 3, 0.548);
    }
    
    .container {
        width: 90%;
        max-height: 1200px;
        margin: 0px auto;
    }
    
    .avatar {
        display: flex;
        width: 40p%;
    }
    
    .avatar img {
        width: 5%;
        line-height: 15px;
        margin: 14px;
        padding: 1px;
        border: transparent;
        border-radius: 50px;
        box-shadow: 8px 14px 20px rgb(53, 8, 53);
    }
    
    .logo {
        float: left;
        line-height: 85px;
        text-align: center;
        border-radius: 40px;
    }
    
    .logo h1 {
        float: left;
        color: #fff;
        font-weight: 400;
        font-size: 34px;
        font-weight: 600;
        cursor: default;
    }
    
    .menu {
        display: flexbox;
        float: left;
        float: right;
        margin-top: -39px;
    }
    
    .menu a {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        padding: 6px;
        line-height: normal;
        font-size: 15px;
        font-weight: 600;
        border-radius: 16px;
        transition: all 600ms ease;
        border-bottom: 3px solid transparent;
    }
    
    .menu a:hover {
        background: rgb(103, 5, 144);
        background: linear-gradient(90deg, rgba(103, 5, 144, 1) 25%, rgba(252, 70, 159, 0.8547794117647058) 72%);
        box-shadow: 0px 2px 10px 9px rgb(73, 8, 95);
        color: rgb(255, 255, 255);
        border-radius: 16px;
        border-bottom: 3px solid;
    }
    
    #contenido {
        display: block;
        margin: 108px 98px 0px;
        margin-bottom: 0px;
        width: 90%;
        height: 2140px;
    }
    
    .section1 {
        width: 90%;
        height: 490px;
        margin: 30px;
        padding: 10px;
        background: rgb(103, 5, 144);
        background: linear-gradient(90deg, rgba(103, 5, 144, 1) 25%, rgba(252, 70, 159, 0.8547794117647058) 72%);
        box-shadow: 0px 2px 10px 15px rgba(3, 3, 3, 0.589);
    }
    
    .section1 h2 {
        text-align: right;
        font-size: 30px;
        margin: 10px;
        padding: 5px;
        color: rgb(255, 255, 255);
        font-family: 'STIX Two Math', serif;
    }
    
    .section1 p {
        display: block;
        float: left;
        width: 60%;
        margin: 10px;
        padding: 15px;
        font-size: 17px;
        color: #fff;
        font-family: 'STIX Two Math', serif;
    }
    
    .img1 {
        display: block;
        float: right;
        width: 38%;
        height: 292px;
        margin-top: 48px;
        padding: 1px;
        border-radius: 19px;
        box-shadow: 13px 15px 16px rgba(3, 3, 3, 50);
        transition: all 300ms ease-out;
    }
    
    img:hover {
        border: 1px solid rgb(183, 0, 255);
        box-shadow: 5px 10px 15px rgb(252, 38, 252);
    }
    
    .section2 {
        width: 90%;
        height: 490px;
        margin: 30px;
        padding: 10px;
        background: rgb(103, 5, 144);
        background: linear-gradient(90deg, rgba(103, 5, 144, 1) 25%, rgba(252, 70, 159, 0.8547794117647058) 72%);
        box-shadow: 0px 2px 10px 5px rgba(3, 3, 3, 0.4);
    }
    
    .section2 h2 {
        font-size: 30px;
        text-align: right;
        margin: 10px;
        padding: 5px;
        color: rgb(255, 255, 255);
        font-family: 'STIX Two Math', serif;
    }
    
    .section2 p {
        margin: 10px;
        padding: 15px;
        font-size: 15px;
        color: #fff;
        font-family: 'STIX Two Math', serif;
    }
    
    ol li {
        text-decoration: none;
        margin: 15px;
        padding: 2px;
        color: #fff;
        font-size: 20px;
        font-family: 'STIX Two Math', serif;
    }
    
    .section3 {
        width: 90%;
        height: 490px;
        margin: 30px;
        padding: 10px;
        background: rgb(103, 5, 144);
        background: linear-gradient(90deg, rgba(103, 5, 144, 1) 25%, rgba(252, 70, 159, 0.8547794117647058) 72%);
        box-shadow: 0px 2px 10px 5px rgba(3, 3, 3, 0.4);
    }
    
    .section3 h2 {
        font-size: 30px;
        text-align: right;
        margin: 10px;
        padding: 5px;
        color: rgb(255, 255, 255);
        font-family: 'Oswald', sans-serif;
    }
    
    ul li {
        text-decoration: none;
        margin: 25px;
        padding: 0px;
        color: #fff;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }
    
    #video {
        width: 90%;
        height: 555px;
        margin: 31px;
        padding: 14px;
        background: rgb(103, 5, 144);
        background: linear-gradient(90deg, rgba(103, 5, 144, 1) 25%, rgba(252, 70, 159, 0.8547794117647058) 72%);
        box-shadow: 0px 2px 10px 5px rgba(3, 3, 3, 0.4);
    }
    
    #video h2 {
        font-size: 30px;
        text-align: right;
        margin: 10px;
        padding: 5px;
        color: rgb(255, 255, 255);
        font-family: 'Noto Sans KR', sans-serif;
    }
    
    #video iframe {
        width: 65%;
        height: 450px;
        padding: 10px;
        float: center;
    }
    
    .saude {
        width: 30%;
        height: 27px;
        margin-bottom: -50px;
        font-size: 20px;
        color: #fff;
        font-weight: 600;
        font-family: 'Oswald', sans-serif;
        float: right;
    }
    
    .footer {
        display: block;
        align-items: center;
        width: 100%;
        height: 49px;
        margin: 0px;
        padding: 1px;
        background: rgb(103, 5, 144);
        background: linear-gradient(90deg, rgba(103, 5, 144, 1) 25%, rgba(252, 70, 159, 0.8547794117647058) 72%);
        box-shadow: 0px 2px 10px 5px rgba(3, 3, 3, 0.4);
    }
    
    footer h2 {
        margin: 10px;
        padding: 5px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        font-family: 'Otomanopee One', sans-serif;
    }
    
    button {
        float: right;
        width: 64px;
        height: 25px;
        text-align: center;
        text-decoration: none;
        border-radius: 16px;
        background: rgb(103, 5, 144);
        background: linear-gradient(90deg, rgba(103, 5, 144, 1) 25%, rgba(252, 70, 159, 0.8547794117647058) 72%);
        transition: all 600ms ease;
        border: transparent;
    }
    
    button:hover {
        box-shadow: 0px 2px 10px 9px rgb(73, 8, 95);
        color: #fff;
        border-radius: 16px;
        border-bottom: 3px solid;
    }
    
    button .voltar {
        display: inline;
        line-height: 11px;
        color: #fff;
        margin: 1px;
        padding: 1px;
        text-align: center;
        text-decoration: none;
        font-family: 'Otomanopee One', sans-serif;
        transition: all 500ms ease;
        border-bottom: 3px solid transparent;
    }